<?xml version="1.0"?>
<!--
/**
 * Copyright © CO-WELL Co., LTD. All rights reserved.
 * Copyright © CO-WELL ASIA Co., LTD. All rights reserved.
 * 
 * Licensed under the Open Software License version 3.0
 * See LICENSE.txt and COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="save_quote_alert_email_logs">
        <observer name="after_save_quote_alert_email_logs" instance="Cowell\AbandonedCart\Observer\ObserverMailLog" />
    </event>
</config>